<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TISelvagemConfig"
         connectionString="data source=DESKTOP-R4MU3R6\SQLEXPRESS; Integrated Security=SSPI;Initial Catalog=FaculdadeTISelvagem"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>